<div class="row center justify-content-center" style="">
  <div class="card mb-4 h-25 w-25" style=" margin: 20px" *ngFor="let notice of array">
    <img class="card-img-top" src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2019/09/17/15687225205679.jpg"alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">{{notice.title}}</h2>
      <p class="card-text">{{notice.description}}</p>
    </div>
    <div class="card-footer text-muted">
      Posted on {{notice.date}}
    </div>
  </div>
</div>

